@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&display=swap');

* {
  font-family: 'Archivo', sans-serif !important
}

a{
color:black !important; 
}

.ui.huge.header{
  font-size: 10em !important;
}


.ui.secondary.vertical.pointing.menu{
  border:none !important;
  position: absolute;
}

.ui.secondary.vertical.pointing.menu .item{
  text-align: end;
  border-right-style: hidden !important;
}

.ui.medium.images .image{
  width: auto !important;
}

.ui.medium.images {
  height: 250px;
}

.ui.images {
  font-size: 0;
  margin: 0 -0.25rem 0;
  display: flex;
  justify-content: space-between;
}

.jsoncontainer {
  padding-right: 200px;
}

@media only screen and (max-width: 600px)
{
.ui.medium.images {
  height: auto;
  display: contents;
}

.ui.huge.header {
  font-size: 3.4em !important;
}

.jsoncontainer{
    padding:0 !important;
}
.ui.secondary.vertical.pointing.menu {
    display: none;
}

.ui.medium.images .image{
  text-align: center;
}
}





